<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magdi-Tiea-OTP</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>


    <div class="form">
        <form method="post" action="/">
            <h1>HELLO 👋</h1>
            <h2>Welcome to Magdi's OTP Authentication</h2>
            <input name="number" placeholder="Enter phone number e.g. 15551235555" />
            <button type="submit" name="button">Submit</button>
        </form>
    </div>
    </div>

</body>

</html>